
body{background: #f7f7f7;}
#select1{background: #ffffff;}
/*面包屑导航*/
.gooodsName{
	overflow: hidden;
	width: 1200px;
	height: 34px;
	margin-top: 10px;
}
.gooodsName p,.gooodsName span,.gooodsName a{
	float: left;	
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #333;
}
.gooodsName .Select{
	width: 90px;
	border: 1px solid #c3c3c3;
	text-align: center;
	cursor: pointer;
	text-indent: 1em;
}
.gooodsName .rightArrow{
	width: 20px;
	text-align: center;
}
.gooodsName .Select b,.gooodsName .Select a,#navbar a{
	font-size: 12px;
	font-weight: 200;
	color: #aaa;
}
.gooodsName .down_arrow,.gooodsName .up_arrow,.down_arrow1{
	display: inline-block;
	width: 16px;
	height: 8px;
}
.gooodsName .down_arrow{
	background: url(../../images/web/detail/sprit1.png) no-repeat -4px -2px;
	-webkit-transition:all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/*面包屑导航结束*/	
.down_arrow1{
	background: url(../../images/web/detail/sprit1.png) no-repeat -4px -16px;
	-webkit-transition:all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.up_arrow{
	-webkit-transform:rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
	-webkit-transition:all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
a{color: #000000;}
.m_infomation{overflow: hidden;}
#navbar{height: 412px;width: 174px;border: 1px solid #D1D1D1;text-align: center;float: left;background: #ffffff;}
#navbar div{height: 24px;font-size: 12px;width: 168px;margin: 6px auto;line-height: 24px;}
#navbar div:first-child{margin: 6px 0px;width: 100%;border-bottom: 1px dashed #d1d1d1;}
#navbar div:nth-child(2),#navbar div:nth-child(6){font-weight: bold;}
#navbar div:nth-child(7){background: #129700;color: #ffffff;}
#navbar div:nth-child(7) a{color: #ffffff;}
#m_info{border: 1px solid #D1D1D1;overflow: hidden;width: 1011px;margin-bottom: 15px;}
.anquan{width: 1012px;float: left;margin-left: 11px;}
.anquanhead{background: #129700;color: #ffffff;line-height: 36px;font-size: 16px;height: 36px;}
.anquanhead span{margin-left: 18px;}
.aq_content{background: #ffffff; margin-top: 18px;border: 1px solid #dbdbdb;padding: 20px 26px 17px;overflow: hidden;}
/*//////////////////////////猜你喜欢/////*/
.box_like{background: #ffffff; width: 1010px;border: 1px solid #dbdbdb;float: left;margin-left: 185px;margin-top: 18px;}
.box_like .like_title{overflow: hidden;height: 33px;line-height: 33px;}
.like_title p{float: left;font-size: 14px;font-weight: bold;margin-left: 18px;}
.like_title div{float: right;margin-right: 16px;overflow: hidden;}
.like_title div span{float: left;width: 20px;height: 20px;background: #e1e1e1;line-height: 20px;text-align: center;border-radius: 50%;margin-right: 11px;margin-top: 7px;}
.like_title div .curr{background: #129700;color: #ffffff;}
.like_food{overflow: hidden;margin-left: 25px;padding-bottom: 10px;}
.like_food>div{width: 175px;overflow: hidden;margin-right: 22px;float: left;}
.like_food>div p{line-height: 20px;}
.like_food>div p span{font-size: 14px;color: #129700;}
.like_food>div p:last-child{color: #bebebe;}
.aq_gg{padding: 10px 0 28px 0;margin-left: 185px;float: left;}
/*//////////////////////个人资料/////////////////////////*/
.aq_content{font-size: 12px;}
.aq_content>p{font-size: 12px;color: #13a200;}
.m_nicheng{overflow: hidden;line-height: 24px;margin: 30px 0 17px 0px;}
.m_nicheng span:nth-child(1){color: #b60000;float: left;}
.m_nicheng span:nth-child(2){float: left;padding: 0 32px 0 7px;}
.m_nicheng input:nth-child(3){float: left;width: 176px;line-height: 21px;}
.m_nicheng span:nth-child(4){float: left;padding: 0 7px 0 16px;color: #b60000;}
.m_nicheng span:nth-child(5){float: left;}
.m_nicheng span:nth-child(6){float: left;padding: 0px 40px 0 9px;margin-top: 7px; line-height: 16px;}
.m_nicheng span:nth-child(7){float: left;width: 42px;height: 20px;background: #ffe2c9;text-align: center;line-height: 20px;margin-top: 3px;cursor: pointer;}
.m_name span:nth-child(2){float: left;padding: 0 8px 0 7px;}
.m_name input:nth-child(6){float: left;margin: 7px 8px 013px;}
.m_name input:nth-child(8){float: left;margin: 7px 8px 0 12px;}
.m_name span:nth-child(7){float: left;background: none;width: auto;}
.m_name span:nth-child(9){float: left;}
.m_name,.m_phone{margin-top: 0px;margin-bottom: 0px;}
.m_phone{margin-top: 6px;margin-bottom: 19px;}
.m_phone span:nth-child(3){background: #ffe2c9;width: 42px;height: 20px;background: #ffe2c9;text-align: center;line-height: 20px;margin-top: 3px;cursor: pointer;}
.save>div>div{text-align: center;font-size: 14px;background: #13a200;width: 117px;height: 31px;line-height: 31px;color: #ffffff;border: 1px solid #82ce78;}
.save>div{width: 118px;border: 1px solid #13a200;margin: 0 auto 0;cursor: pointer;}
.m_headimg{overflow: hidden;margin-top: 31px;}
.m_headimg>div{float: left;}
.qiehuan{border: 1px solid #cdcdcd;padding-right: 20px;background: url(../../images/web/enroll/enroll_icon13.jpg) no-repeat;background-position: 328px 0px;cursor: pointer;}
.shangc{margin-right: 7px;border: 1px solid #cdcdcd;overflow: hidden;width: 85px;height: 85px;position: relative;}
.shangc img{float: left;width: 100%;height: 100%;}
.shangc input{position: absolute;top: 0px;left: 0px;opacity: 0;cursor: pointer;}












